# ---- Rust / Cargo ----
/target/
/debug/
/release/
/get-dependencies
get-dependencies

# ---- Build Artifacts ----
*.exe
*.dll
*.so
*.dylib

# ---- Logs and Temporary Files ----
*.log
*.tmp
*.swp
*.swo

# ---- IDE / Editor Settings ----
# VS Code
.vscode/
/.vscode/

# IntelliJ / CLion / RustRover
.idea/

# Sublime
*.sublime-workspace
*.sublime-project

# ---- OS-specific ----
# Windows
Thumbs.db
ehthumbs.db


.github
/.github
